$dark-color: #323233;
$font-color: white;

// PEBBLE 색 조합
$pebble-dark: #433e49;
$pebble-light: #928490;
$pebble-sub: #dbc1ad;
$pebble-bg: #f3e8eb;

@font-face {
  font-family: "NanumSquareRoundBold";
  src: url(../assets/fonts/NanumSquareRoundOTFEB.otf);
}

@font-face {
  font-family: "NanumSquareRound";
  src: url(../assets/fonts/NanumSquareRoundOTFR.otf);
}

// 폰트 사이즈 반응형 설정
:root {
  --font-size-xlg: clamp(2.5rem, 4vw, 3rem);
  --font-size-lg: clamp(2rem, 3.5vw, 2.5rem);
  --font-size-ml: clamp(1.75rem, 3vw, 2rem);
  --font-size-md: clamp(1.5rem, 2.5vw, 1.75rem);
  --font-size-ms: clamp(1.25rem, 2vw, 1.5rem);
  --font-size-sm: clamp(1rem, 1.5vw, 1.25rem);
  --font-size-xs: clamp(0.75rem, 1vw, 1rem);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $pebble-dark;
  color: $font-color;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "NanumSquareRoundBold";
  word-break: keep-all;
}

h1 {
  font-size: var(--font-size-xlg);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-ml);
}

h4 {
  font-size: var(--font-size-md);
}

h5 {
  font-size: var(--font-size-ms);
}

p,
ol {
  font-size: var(--font-size-sm);
}

span,
li {
  font-size: var(--font-size-xs);
}

span,
ol,
li {
  font-family: "NanumSquareRound";
  word-break: keep-all;
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 16px 0;
  z-index: 1100;
  background-color: $dark-color;

  h2 {
    margin: 0;
  }
}

.nav-bar {
  display: flex;
  margin: 0;
  background-color: black;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

.nav-item {
  padding: 4px 16px;

  &:hover {
    background-color: coral;
  }
}

@keyframes move-up-and-fade-in {
  from {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.Banner {
  height: calc(95vh - 64px);
  position: relative;
  text-align: center;

  .ParagraphDiv {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: move-up-and-fade-in 1s ease-in;

    & > p {
      font-weight: 600;
      font-size: 24px;
    }
  }

  .BorderTextBox {
    display: inline-block;
    border: 8px solid white;
    margin-top: 16px;
    padding: 8px 16px;
    font-weight: 700;
    text-decoration: none;
    color: white;

    &:link {
      text-decoration: none;
    }

    &:active {
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }

    &:hover {
      border: 4px solid gray;
      background-color: black;
      transition: 0.5s;
      text-decoration: none;
    }
  }
}

.ulept {
  display: inline-block;
  font-size: larger;
  background: linear-gradient(to top, coral 30%, transparent 30%);
}

.Banner::before {
  background: url("../assets/images/backImage.jpg");
  background-size: auto;
  background-attachment: fixed;
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

@keyframes move {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-400%);
  }
}

#slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: 90vh;
  position: relative;
  // 스크롤 바 제거
  &::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
  }

  .CardContent {
    flex: none;
    width: 100vw;
    color: black;
    overflow: hidden;

    .CardImage {
      width: 95%;
      height: 95%;
      object-fit: scale-down;
    }

    .CardText {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: "0 16px";
      justify-content: center;
    }
  }
}

.history {
  margin-top: 16px;
}

.history h5 {
  position: relative;
  color: #000;
  margin: 0;
  line-height: 1;
}

.history h5:before {
  content: "";
  position: absolute;
  left: -48px;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background: #fff;
  border: 5px solid $pebble-light;
  box-sizing: border-box;
}

.history div {
  position: relative;
  padding: 0 0 0 48px;
}

.history div:before {
  content: "";
  position: absolute;
  left: 8px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #ddd;
}
.history div:first-child:before {
  top: 10px;
  height: calc(100% - 10px);
}

.history ol {
  list-style-type: none;
  margin: 0;
  padding: 8px 16px;
}

.history li {
  line-height: 24px;
}

.pebbleBackground {
  background-color: $pebble-bg;
}

a {
  text-decoration: none;
  color: black;
}

.badgeDiv {
  width: fit-content;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  background-color: white;

  :nth-child(2) {
    margin-left: 4px;
  }
}

.numbericOrder li {
  line-height: 1.5;
}

.container {
  border: 1px solid white;
  border-radius: 15px;
  background-color: white;
  width: fit-content;
  height: fit-content;
}

.sectionTitle {
  text-align: center;
  line-height: 1.5;
  margin: 0;
  padding: 12px;
}

.sectionParagraph {
  text-align: center;
  line-height: 1;
  margin: 0;
  padding: 8px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;

  & > :nth-child(n) {
    margin: 12px;
  }

  p {
    margin: 0;
  }

  h5 {
    margin: 4px 0 8px 0;
  }
}

.icon-text-flex-container {
  display: flex;
  min-width: 16rem;
}

.head-smooth-margin {
  margin: 8px 0;
}

@media screen and (max-width: 1023px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .history {
    display: none;
  }
  .gridContainer {
    grid-template-columns: 1fr;
  }
}

.skillSetContainer {
  width: 20rem;
  max-width: 40rem;
  height: max-content;
  background-color: white;
  color: black;
  text-align: center;
  padding: 8px;
  border-radius: 15px;

  h5 {
    margin: 8px;
  }
}

.skillIconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
