$dark-color: #121212;
$font-color: #bbb;

body {
  background-color: $dark-color;
  color: $font-color;
  margin: 0;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding: 16px 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

.nav-item {
  padding: 4px 16px;

  &:hover {
    background-color: coral;
  }
}

.Banner {
  height: 600px;
  position: relative;
  text-align: center;

  .ParagraphDiv {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.Banner::before {
  background: url("../assets/images/23856.jpg");
  background-size: cover;
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
